.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: (0, 0, 0, 0.6);
}

.modal.hidden {
    display: none;
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 2em;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    margin-top: 0;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal-content form input {
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-danger {
    background: linear-gradient(240deg, #d9534f, #c9302c);
}