html, body {
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: sticky;
    top: 0;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    width: 35%;
    max-width: 340px;
    background-color: 	#5a72ad;
    color: white;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-header {
    padding: 1em;
    letter-spacing: 6px;
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #4a4a6b;
}

.sidebar-nav a {
    display: block;
    color: #e0e0e0;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav a:hover {
    background-color: #748bcc;
    color: white;
}
.sidebar-nav a.active {
    background-color: #b2cbde;
    color: black;
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    padding: 1em;
    padding-left: 1.5em;
}

.content-header h1 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-decoration: underline;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.content-body {
    background-color: white;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: clamp(1rem, 4vw, 1.25rem);
}

@media (min-width: 600px) {

}
