.main-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.wrapper {
    padding: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.manage-panel {
    border-radius: 8px;
    margin: 0.5em;
    padding: 1.5em;
    gap: 1em;
    display: flex;
    background-color: #5a72ad;
    justify-content: center;
    align-items: center;
}

.btn {
    background: linear-gradient(240deg,rgba(178, 203, 222, 1) 1%, rgba(111, 162, 209, 1) 55%, rgba(143, 143, 181, 1) 100%);
    color: white;
    border: 0px;
    border-radius: 12px;
    font-size: clamp(0.725rem, 1.25vw, 0.875rem);
    padding: 0.4em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    cursor: pointer;
}


.card img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.card {
    background: linear-gradient(240deg,rgba(178, 203, 222, 1) 1%, rgba(111, 162, 209, 1) 55%, rgba(143, 143, 181, 1) 100%);
    border-radius: 32px;
    border: 3px solid black;
    align-items: center;
    padding: 2em;
    width: 57%;
    max-width: 192px;
    margin: 2em auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card h3 {
    color: white;
    font-size: clamp(0.75rem, 1.25vw, 1.5rem);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin: 0;
    width: 100%;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.card:hover h3 {
    opacity: 1;
}

.card:hover img {
    filter: blur(4px);
}

@media screen and (min-width: 800px) {
    .content-header h1 {
        margin-bottom: 1em;
    }
    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .card {
        width: 20%;
        margin: 0 0;
        max-width: 128px;
    }
}

@media screen and (min-width: 1400px) {
    .card {
        width: 12%;
        max-width: 160px;
    }
}

.card:hover {
    transform: translateY(-8px);
}

.card:active {
    transition: transform 0.025s ease-in-out;
    transform: scale(0.99);
}